@{
    ViewBag.Title = "Home Page";
}

<div id="adImgContainer">
    <img id="adImg" src="https://www.designyourway.net/blog/wp-content/uploads/2010/11/Nike-Print-Ads-17.jpg" alt="ad" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            ASP.NET MVC programmed, Sport shop website that offers API's
            and a fully function e-commerce website with a  sport theme.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About the API's</h2>
        <p>
            We offer a veraity of API's,
            whice include - 
            Clothing API,
            Shoes API,
            Shirts API,
            Pants API 
            and Gear API.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>
            I am Yaakov, a Full-stack software developer, a student at Tech-Career.
            I'm passionate about what im doing, and to check about my other projects ; 
            check the links down bellow for my Github.

            To contect me you'll find also the link to my LinkedIn along side the link to my Github.
        </p>
    </div>
</div>

<hr />

<div id="tofContainer">
    <div>
        <h1>API's Table of contents</h1>
        <p>Please note that you can only do only RESTful method's on these API's</p>
        <ul id="contentList">
            <li><b>Clothing</b> - https://localhost:44381/api/ClothingApi</li>
            <li><b>Gear</b> - https://localhost:44381/api/GearApi</li>
            <li><b>Pants</b> - https://localhost:44381/api/PantsApi</li>
            <li><b>Shirts</b> - https://localhost:44381/api/ShirtsApi</li>
            <li><b>Shoes</b> - https://localhost:44381/api/ShoesApi</li>
        </ul>
    </div>
    <div id="tofImgContainer">
        <img src="https://www.designyourway.net/blog/wp-content/uploads/2010/11/Nike-Print-Ads-5.jpg"/>
    </div>
</div>